VITE_FIREBASE_API_KEY=AIzaSyBtHKQT_R6rWLW2oN5OLt0CQOKkSlDnQN8
VITE_FIREBASE_AUTH_DOMAIN=clone-91070.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://clone-91070-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=clone-91070
VITE_FIREBASE_STORAGE_BUCKET=clone-91070.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=980668037537
VITE_FIREBASE_APP_ID=1:980668037537:web:07090fbcc33f145394f3e0
VITE_FIREBASE_VAPID_KEY=BDrDao3X7zHpvp_Cq-jGUD7lz_BnlMvf_mhpsm-eVyBhm-bfwuung0AMEpiLWe6TrvXQpUgypm8tBIhDLD5A1YE
